@charset "UTF-8";
/* Основные */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../webfonts/Lora-Regular.ttf) format("truetype");
}

@-webkit-keyframes arrow {
  0% {
    color: white;
  }
  20% {
    color: #310062;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  80% {
    color: white;
  }
  100% {
    color: white;
  }
}

@keyframes arrow {
  0% {
    color: white;
  }
  20% {
    color: #310062;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  80% {
    color: white;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes circle {
  0% {
    background: white;
  }
  20% {
    background: #310062;
  }
  40% {
    background: white;
  }
  60% {
    background: white;
  }
  80% {
    background: white;
  }
  100% {
    background: white;
  }
}

@keyframes circle {
  0% {
    background: white;
  }
  20% {
    background: #310062;
  }
  40% {
    background: white;
  }
  60% {
    background: white;
  }
  80% {
    background: white;
  }
  100% {
    background: white;
  }
}

/* Меню*/
.menu {
  background: #151719;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  oopacity: 1;
  width: 1140px;
  padding: 8px 25px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 5;
  opacity: 0.8;
  /* Блок Приветствие*/
}

.menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .container a {
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.menu .container a:hover {
  text-decoration: none;
}

.menu .container a:hover span {
  width: 100%;
}

.menu .container a span {
  display: inline-block;
  position: absolute;
  background: white;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .container .callback-menu {
  border: 4px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10%;
}

.menu .container .callback-menu:hover {
  background: white;
  color: #151719;
}

.menu .container .callback-menu span {
  display: none;
}

#greeting {
  height: 100vh;
  position: relative;
  background-image: url(../images/back-greeting.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  background-attachment: fixed;
  /* Проблемы */
}

#greeting .greeting-text {
  font-size: 38px;
  width: 70%;
  color: white;
  text-align: center;
  line-height: 70px;
  position: absolute;
  top: 30vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#greeting .greeting-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#greeting .greeting-arrow .arrow-circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: white;
  margin-top: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: 1.5s ease infinite 4s circle;
          animation: 1.5s ease infinite 4s circle;
}

#greeting .greeting-arrow .arrow-circle:nth-child(2) {
  -webkit-animation: 1.5s ease infinite 4.2s circle;
          animation: 1.5s ease infinite 4.2s circle;
}

#greeting .greeting-arrow .arrow-itself {
  color: white;
  font-size: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: 1.5s ease infinite 4.4s arrow;
          animation: 1.5s ease infinite 4.4s arrow;
}

#troubles {
  padding: 100px 0;
  /* Свяжитесь с нами */
}

#troubles .title {
  font-size: 35px;
  color: #151719;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}

#troubles .troubles-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

#troubles .troubles-block .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  margin-bottom: 100px;
}

#troubles .troubles-block .item .icon {
  color: #310062;
  font-size: 50px;
  margin-bottom: 50px;
}

#troubles .troubles-block .item .item-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

#troubles .troubles-block .item .item-description {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

#contact_us {
  background: #151719;
  padding: 100px 0;
  line-height: 50px;
}

#contact_us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact_us .container .title {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

#contact_us .container .button {
  border: 4px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#contact_us .container .button:hover {
  background: white;
  color: #151719;
}

/* Модальное окно обратный звонок */
.modal_callback {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
}

.modal_callback .overlay {
  position: absolute;
  z-index: 3;
  background: #151719;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal_callback .form {
  position: absolute;
  z-index: 4;
  background: white;
  width: 40%;
  height: 75vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.modal_callback .form .cancel-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #310062;
}

.modal_callback .form .title {
  color: #151719;
  font-size: 30px;
  margin: 50px 0;
}

.modal_callback .form .inputs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  visability: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal_callback .form .inputs-block .label {
  color: #151719;
  font-size: 25px;
  margin-bottom: 20px;
}

.modal_callback .form .inputs-block input {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  color: #151719;
  border-radius: 0;
  border: 2px solid #151719;
  margin-bottom: 40px;
}

.modal_callback .form .button {
  border: 4px solid #151719;
  border-radius: 10px;
  padding: 5px 10px;
  color: #151719;
  font-size: 25px;
  cursor: pointer;
  margin: 20px 0;
  opacity: 0;
  visability: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal_callback .form .button:hover {
  background: #151719;
  color: white;
}

.modal_callback .form .success {
  opacity: 0;
  visability: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 25px;
  color: #151719;
  text-align: center;
  white-space: nowrap;
}

.modal_callback .form .show {
  opacity: 1;
  visability: visible;
}

.showModal {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

/* Сравнение */
#compare {
  padding: 100px;
}

#compare .title {
  font-size: 35px;
  color: #151719;
  margin-bottom: 50px;
  text-align: center;
  line-height: 50px;
}

#compare .title span {
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: bold;
  display: block;
}

#compare .grid-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (100px)[6];
  -ms-grid-columns: 40% 30% 30%;
      grid-template: repeat(6, 100px)/40% 30% 30%;
  margin-top: 100px;
}

#compare .grid-table .item {
  font-size: 25px;
  color: #151719;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
}

#compare .grid-table .header {
  font-weight: bold;
  border-bottom: 2px solid #310062;
}

#compare .grid-table .blue {
  background: #310062;
  color: white;
}

#compare .grid-table .footer {
  font-weight: bold;
}

#team {
  padding: 100px 0;
  background: #310062;
}

#team .title {
  color: white;
  font-size: 35px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 50px;
}

#team .team-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#team .team-block .team-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

#team .team-block .team-item .img-block {
  height: 280px;
}

#team .team-block .team-item .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#team .team-block .team-item .text-block {
  height: 280px;
  background: white;
  color: #151719;
  font-size: 25px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#team .team-block .team-item .text-block span {
  display: block;
}

#team .team-block .team-item:nth-child(even) {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#team .team-block .show-team {
  -webkit-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  opacity: 1;
}

/* Устуги */
#services {
  padding: 100px 0;
}

#services .title {
  color: #151719;
  font-size: 35px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 50px;
}

#services .services-block {
  padding: 0 60px;
  position: relative;
}

#services .services-block .arrow-left {
  font-size: 50px;
  color: #310062;
  position: absolute;
  top: 40%;
  left: 20px;
  cursor: pointer;
}

#services .services-block .arrow-right {
  font-size: 50px;
  color: #310062;
  position: absolute;
  top: 40%;
  right: 20px;
  cursor: pointer;
}

#services .services-block .service-overflow {
  width: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#services .services-block .service-overflow .service-item {
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 300px;
  margin: 0 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#services .services-block .service-overflow .service-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#services .services-block .service-overflow .service-item .overlay {
  position: absolute;
  background: #151719;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 2;
}

#services .services-block .service-overflow .service-item .text-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: white;
  z-index: 3;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

#services .services-block .service-overflow .service-item .text-block span {
  display: block;
  text-align: center;
}

/* Контакты*/
#contacs {
  background: #151719;
  padding-top: 100px;
}

#contacs .title {
  color: white;
  font-size: 35px;
  margin-bottom: 80px;
  text-align: center;
  line-height: 50px;
}

#contacs .contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

#contacs .contacts-block .contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  text-decoration: none;
}

#contacs .contacts-block .contact-link:hover {
  text-decoration: none;
}

#contacs .contacts-block .contact-link .contact-icon {
  color: white;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin-right: 50px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  margin-top: 10px;
}

#contacs .contacts-block .contact-link .text-block {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  width: 300px;
}

#contacs .contacts-block .contact-link .show-icon {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#contacs .footer {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}

#contacs .footer span {
  margin-left: 20px;
}

/* Отдельные страницы */
#block-on-pages {
  padding: 100px 0;
}
/*# sourceMappingURL=style.css.map */