<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITEGO</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/font_awessom.css" type="text/css"> 
  <script src="js/vue.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <article class="menu"  v-if="desktop">
    <div class="container">
      <menu-items v-for="item in menu" :menu="item" :key="item.name"></menu-items>
    </div>
  </article>
  <article class="menu-mobile" v-if="!desktop" :class="{menuBlockOpen:open}">
    <div class="container-mobile">
      <div class="hamburger" :class="{hamburgerOpen:open}">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="menu-block">
        <menu-items-mobile v-for="item in menu" :menu="item" :key="item.name"></menu-items-mobile>
      </div>
      <a :href="button.url" :class="button.class">{{button.name}}<span></span></a>
    </div>
  </article>
  <section id="greeting">
    <div class="greeting-text">{{text}}</div>
    <div class="greeting-arrow">
      <div class="arrow-circle"></div>
      <div class="arrow-circle"></div>
      <i class="fas fa-angle-down arrow-itself"></i>
    </div>
  </section>
  <section id="troubles">
    <div class="container">
      <div class="title">{{text}}</div>
      <div class="troubles-block">
        <trouble-item v-for="item in troubles" :troubles="item" :key="item.title"></trouble-item>
      </div>
    </div>
  </section>
  <section id="contact_us">
    <div class="container">
      <div class="title">{{text}}</div>
      <div class="button callback">Оставить заявку</div>
    </div>
  </section>
  <section id="compare">
    <div class="container">
      <div class="title" v-html="text"></div>
      <grid-table :compare="table"></grid-table>
    </div>
  </section>
  <section id="team">
    <div class="container">
      <div class="title">{{text}}</div>
      <div class="team-block">
        <team-item v-for="(item,i) in team" :key="i" :team="item"></team-item>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <div class="title">{{text}}</div>
      <div class="services-block">
        <div class="service-overflow">
          <service-item v-for="(item,i) in service" :key="i" :service="item"></service-item>
        </div>
        <i class="fas fa-chevron-left arrow-left"></i>
        <i class="fas fa-chevron-right arrow-right"></i>
      </div>
    </div>
  </section>
  <section id="contacs">
    <div class="container">
      <div class="title">{{text}}</div>
      <div class="contacts-block">
        <contact-item v-for="(item,i) in contacts" :key="i" :contacts="item"></contact-item>
      </div>
      <div class="footer">Itego.ru <span>2020</span></div>
    </div>
  </section>
  <article class="modal_callback" :class="{showModal: active}">
    <div class="overlay"></div>
    <div class="form">
      <i class="fas fa-times cancel-icon"></i>
      <div class="title">{{text}}</div>
      <div class="inputs-block show" >
        <div class="label">Ваше имя:</div>
        <input v-model="name">
        <div class="label">Ваше телефон:</div>
        <input v-model="phone">
        <div class="label">или e-mail:</div>
        <input v-model="email">
      </div>
      <div class="success">{{text_success}}</div>
      <div class="button show callback-send">Отправить</div>
    </div>
  </article>
</body>
</html>